@font-face {
    font-family: "bebasNeue";
    src: url('../fonts/BebasNeue-Regular.woff') format('woff');
}
body{
    font: 18px/36px 'bebasNeue','Arial Narrow', arial, sans-serif;
    background-color: #ddd;
}
h1{
    font-size: 80px;
    margin: 50px 0;
    text-align: center;
    text-shadow: 2px 2px 2px white;
}
.container{
    width: 600px;
    background-color: white;
    margin: auto;
    padding: 30px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, .3);
    border-radius: 5px;
    z-index: 9999;
}
.gallery li{
    width: 120px;
    height: 120px;
    border-radius: 50px;
    overflow: hidden;
    border: 5px solid #888;
    float: left;
    margin-right: 20px;
    position: relative;
}
.gallery li span{
    width: 120px;
    height: 120px;
    display: block;
    background-color: rgba(200, 200, 200,.5);
    text-align: center;
    line-height: 120px;
    position: absolute;
    top: 0;
    color: #333;
    text-shadow: 1px 1px 1px #ddd;
    opacity: 0;
    transform: scale(0) rotate(0);
    transition: .3s;
}
.gallery li a:hover span{
    opacity: 1;
    transform: scale(1) rotate(360deg);
}
.clear{
    clear: both;
}
.overlay{
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    top: 0;   
    left: 0; 
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    transition: .5s;
    padding: 100px 0;
    text-align: center;
}
.overlay:target{
    width: auto;
    height: auto;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.7);
}
.overlay img{
    max-height: 100%;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.5);
}
.overlay:target img{
    animation: zoomDanFade 1s;
}
@keyframes zoomDanFade{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}
.overlay .close{
    top: 50px;
    position: absolute;
    left: 50%;
    margin-left: -20px;
    color: white;
    text-decoration: none;
    background-color: black;
    border: 2px solid white;
    padding: 5px;
    line-height: 14px;
    opacity: 0;
}
@keyframes slideDownFade{
    0%{
        opacity: 0;
        margin-top: -20px;
    }
    100%{
        opacity: 1;
        margin-top: 0;
    }
}
.overlay:target .close{
    animation: slideDownFade 0.5s 0.5s forwards;
}
.next,.prev{
   width: 57px;
   height: 93px;
   background-image: url('../img/next.png'); 
   position: absolute;
   text-indent: -99999px;
   top: 40%;
   margin-left: 50px;
   opacity: 0;
}
.prev{
    background-image: url('../img/previous.png');
    margin-left: -100px;
}
.overlay:target .next,
.overlay:target .prev
{
    animation: zoomDanFade 0.5s 0.5s forwards;
}
